body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center !important;
	background-image: url("apple-carrots-citrus-952485.jpg");
	background-color: #e2f2ee;
	color: whitesmoke;
}

#inputZipCode {
	margin-left: 500px;
	margin-right: 500px;
	background-color: whitesmoke;
	opacity: .7;
	color: black;
	border-radius: 7px;
	width: 600px;
	padding: 10px;
}

h1 {
	color: orangered;
	background-color: darkslategrey;
	border-width: 5px;
	border-style: double;
}

h2 {
	color: orangered;
	background-color: darkslategray;
	opacity: .9;
	border-radius: 7px;
	margin-left: 500px;
	margin-right: 500px;
	padding: 10px;
}

.flip3D {
	width: 300px;
	height: 100px;
	margin: 10px;
	float: center;
	opacity: 0.9;
}

p {
	margin-left: 400px;
	margin-right: 400px;
	height: 100px;
	background-color: darkslategrey;
	border-radius: 7px;
	opacity: .9;
	color: orangered;
	padding: 10px;

}

.flip3D .front {
	color: orangered;
	transform: perspective(600px) rotateY(0deg);
	background: darkslategray;
	width: 300px;
	height: 100px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	opacity: 0.9;
}

.flip3D .back {
	color: darkslategray;
	position: absolute;
	transform: perspective(600px) rotateY(180deg);
	background: orangered;
	width: 300px;
	height: 100px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	opacity: 0.9;
}

.flip3D:hover .front {
	transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover .back {
	transform: perspective(600px) rotateY(0deg);
}

#button {
	background-color: darkslategray !important;
	color: orangered !important;
}

#button2 {
	background-color: darkslategray !important;
	color: orangered !important;
}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(240, 73, 73);
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #FC0;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 160px;
	/* Same as the width of the sidenav */
	font-size: 28px;
	/* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* used with sidenav  

  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }